@import "./variables";

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 50px 120px;

  .social-icon {
    display: flex;

    margin: 10px;
    font-size: map-get($font-size, regular);
    color: $accent-color;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    &-content {
      margin-left: 5px;
    }
  }
}
